.Header {
    background-image: linear-gradient(90deg, rgb(70, 19, 255), rgb(30, 236, 236));
    padding: 35px 0 40px 0;
    position: relative;
    text-align: center;
    width: 100%;
    top: 0;
}

.HeaderText {
    color: aliceblue;
    font-weight: 700;
    font-size: 35px;
}

.login {
    grid-template-columns: auto auto;
    position: absolute;
    margin-left: 20px;
    color: white;
    display: grid;
}

.loginButton {
    position: absolute;
    left: 300px;
}

@media (max-width: 1140px)
{
    .loginButton {
        display: none;
    }
    .login {
        display: none;
    }
}